@import url(https://fonts.bunny.net/css?family=bungee:400|oswald:200,300,400,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eurcntrc';
  src: url('/src/fonts/eurcntrc.ttf') format('truetype');
}

strong a {
  @apply underline after:content-['↗'];
}

#mobile-menu.open {
  max-height: 500px;
}

#mobile-menu.closed {
  max-height: 0;
  overflow: hidden;
}

@layer utilities {

  .texture-overlay {
    position: relative;
  }

  .texture-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/texture_paper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 1;
  }
  .poster {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    filter: saturate(100%) contrast(85%);
  }
  .poster img {
    width: 100%;
    display: block;
    z-index: 1;
  }
  .poster:before,
  .poster:after {
    content: '';
    width: 100%;
    left: 0;
    position: absolute;
  }
  .poster:before {
    height: 4%;
    bottom: -4%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        177deg,
        rgba(0, 0, 0, 0.22) 10%,
        transparent 50%
      ),
      linear-gradient(-177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%);
    background-size: 49% 100%;
    background-position: 2% 0, 98% 0;
  }
  .poster:after {
    height: 100%;
    top: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 10%),
      linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%),
      linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 10%),
      linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 10%),
      linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 10%),
      linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%),
      linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 10%);
    background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%,
      50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%,
      50% 33.3333%;
    background-position: right top, left center, left bottom, left top, left top,
      right top, left center, right center, right center, left bottom;
  }

  :root {
    --pink: #CC0000;
    --pink-dark: #c6939a;
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
  }
  
  .pink {
    --paper-color: var(--pink);
    --paper-dark: var(--pink-dark);
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
  }
  
  .blue {
    --paper-color: #d5e0f9;
    --paper-dark: #c2d0ea;
    --shadow-size: 3px;
    --transparent: rgba(213, 224, 249, 0);
  }
  
  .paper {
    background: linear-gradient(
        to bottom right,
        var(--paper-dark),
        20%,
        var(--transparent)
      ),
      var(--paper-color);
    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  }
  
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        var(--transparent),
        50%,
        var(--paper-dark),
        51%,
        var(--transparent)
      ),
      linear-gradient(
        to right,
        var(--transparent),
        50%,
        var(--paper-dark),
        51%,
        var(--transparent)
      );
  }
  
  .tape-section {
    position: absolute;
    width: 100%;
  }
  
  .top-tape {
    position: absolute;
    height: 4vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
  }
  
  .tape-section:first-of-type {
    top: 0;
  }
  
  .tape-section:last-of-type {
    bottom: 0;
  }
  
  .tape-section::before,
  .tape-section::after {
    content: "";
    width: 10vmin;
    height: 4vmin;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
  }
  
  .tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: -4vmin;
    top: -3vmin;
  }
  
  .tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
  }
  
  .tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
  }
  
  .tape-section:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .zoom-in {
    animation: zoomIn 1s ease-out forwards;
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease-out 1s forwards;
  }
  
  .fade-in-up-delayed {
    animation: fadeInUp 1s ease-out 1.5s forwards;
  }
  
  .fade-in-up-more-delayed {
    animation: zoomIn 1s ease-out 2.5s forwards;
  }
  
}
